/*  General styling  */
* {
	box-sizing: border-box;
}

/* Adjustable for desktop and mobile screens */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

/*  Fonts  */
@font-face {
  font-family: 'Graphik';
  src: url("https://cnry-webapp-testing.s3.amazonaws.com/fonts/Graphik-Light-Web.eot");
  src: url("https://cnry-webapp-testing.s3.amazonaws.com/fonts/Graphik-Light-Web.eot?#iefix") format("embedded-opentype"),
       url("https://cnry-webapp-testing.s3.amazonaws.com/fonts/Graphik-Light-Web.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url("https://cnry-webapp-testing.s3.amazonaws.com/fonts/Graphik-Semibold-Web.eot");
  src: url("https://cnry-webapp-testing.s3.amazonaws.com/fonts/Graphik-Semibold-Web.eot?#iefix") format("embedded-opentype"),
       url("https://cnry-webapp-testing.s3.amazonaws.com/fonts/Graphik-Semibold-Web.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

body {
	margin: 0;
	padding: 0;
}

h2 {
	font-family: 'Graphik';
	font-size: 24px;
}

h3 {
	font-family: 'Graphik';
	font-size: 18px;
}

p {
	font-family: 'Graphik', serif;
}

/*  Navigation styling -- needs to be centered on collapse */
.navbar-collapse {
	text-align: center;
	display: block!important;
}

.navbar-nav>li {
	display: inline-block;
	float: none;
}

.nav {
	font-family: 'Graphik', serif;
}

/*  Section styling  */
.hero-text {
	display: flex;
	margin: auto;
	text-align: center;
	position: relative;
	padding-top: 85px;
	padding-bottom: 70px;
	background-color: #ffffff;
	font-family: 'Graphik', serif;
}

.top {
	padding: 20px;
}

.top-text {
	padding-right: 40px ;
}

/*  Flex box to keep logos in line on small screens  */
.flex-container {
	padding: 0;
	margin: 0;
	list-style: none;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	justify-content: space-around;
}
.flex-item {
  padding: 5px;
  margin: auto;  
}

/* Prevent thumbnail edges from showing  */
.thumbnail {
	border-color: #ffffff;
}

/*  Call to action text  */
.go-time {
	color: #3ea072;
}
.glyphicon {
	font-size: 10px;
}

/*  Midpage styles */
section.midpage {
	padding: 20px;
}

.midpage-text {
	padding-right: 25px;
}

/*  Bottom section styles */
#bottom {
	background-color: #F8F8F8;
	margin-top: 50px;
}

.title {
	font-family: 'Graphik';
	padding: 50px;
}

.insurer-item{
	width: 350px;
	height: 250px;
	padding: 90px;
	margin: 10px;
	background-color: #ffffff;
	border-style: solid;
	border-color: #d3d3d3;
	border-width: 1px;
	text-align: center;
}

.insurer-caption {
	color: #ffffff;
	-webkit-transition: color 2s;
	transition: color 2s;
	padding-top: 20px;
}
/*  Animation for insurer details */
.insurer-caption:hover {
	color: #000000;
}

.contact {
	padding: 50px;
}

/*  Support section  */
section.support {
	position: relative;
	height: 450px;
	color: #ffffff;
	background: #4fccde;
	width: 100%;
	clear: both;
}

.text-center {
	text-align: center!important;
	line-height: 1.5;
}

.support-image {
	position: absolute;
	background-image: url(/assets/images/ce-team.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 450px;
	float: left;
	width: 50%;
	top: 0;
}

.support-text {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	width: 50%;
	right: 0;
}

.button {
	background-color: #ffffff;
	border: none;
	color: #3dc2d7;
	display: inline-block;
	font-family: 'Graphik', serif;
	font-size: 16px;
	width: 175px;
	border-radius: 50px;
	margin-bottom: 50px;
	margin-top: 15px;
}
.button:hover {
	-webkit-transition: color 2s;
	transition: color 2s;
	background-color: transparent;
	border: 2px solid #ffffff;
	color: #ffffff;
}